#wrapper{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    margin-top: 500px ;
    color: white;
    align-content: center;

}

#dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

#dropdown {
    float: right;
    display: inline;
    margin-left:500px;
    margin-top:-130px;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 200px;
    z-index: 1;
}
#dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown-content a:hover {
    background-color: white;
 }

#dropdown:hover #dropdown-content {
    display: block;
}

#dropdown:hover #dropbtn {
    background-color: grey;
}

#logo{
    width: 200px;
    height: 200px;
    margin-left: 40px;
    margin-top: 20px;
}

#header{
    display:inline;
    float:right;
    margin-right:600px;
    margin-top:60px;
}
#about, #mission, #firstProject{
    word-wrap:hyphenate;
}

#about
{
    width:400px;
    font-size: larger;
    margin-left: 30px;
}

#mission{
    width:800px;
    float:right;
    font-size: larger;
    margin-top: -273px;
}

#firstProject{
    margin-left: 150px;
    width:1000px;
    margin-top: 50px;
    font-size: larger;
}
#firstProject > h3{
    text-align: center;
    font-size: larger;
}

#slides{
    display:flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

#slides::-webkit-scrollbar{
    width:10px;
    height:10px;
}

#slides::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 10px;
}

#slides::-webkit-scrollbar-track{
    background: transparent;
}

#slides > div{
    scroll-snap-align:start;
    flex-shrink: 0;
    width:300px;
    height: 300px;
    margin-right:50px;
    border-radius:10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 50%;
}

.image{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    height: 100%;
}
  
.text {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#blur{
    background-image: url(jonatan-pie-3l3RwQdHRHg-unsplash.jpg);
    filter:blur(8px);
    -webkit-filter: blur(8px);
    height: 200%;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
body,html{
    height: 100%;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
